<%- include("../partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_files: [
    "pages/payment_page.css",
  ],
  js_files: [
    "/scripts/payment_page.js"
  ]
}) %>

<div class="payment-div">
  <h3>You are going to buy <%= title %> from <%= sellerName %></h3>
</div>

<%= tron_address %> 
<%= trx_amount %> 

<%- include("../partials/foot.ejs") %>