<%- include("../partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_files: [
    "pages/payment_page.css",
  ],
  js_files: [
    "/scripts/payment_page.js",
    "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js",
  ],
}) %>

<div class="payment-div">
  <h3>You are going to buy <%= title %> from <%= sellerName %></h3>
  In order to proceed enter the address which you will use to send tokens.
  <input type="text" name="user-tron-address" id="user-tron-address"> <br>
  <input type="hidden" name="upload-id" id="upload-id" value="<%= uploadID %>">
  <input type="hidden" name="github-id" id="github-id">
  <input type="hidden" name="product-title" id="product-title">
  <input type="hidden" name="seller-name" id="seller-name">
  Is the address correct? <input type="button" value="Yes, it's correct" onclick="proceedPayment()">
  <div class="info">In case if your address isn't correct please reload this page.</div> <br><br>

  <div class="payment-step-2">
    <h3>Step 2:</h3>
    Send <%= trx_amount %> to <%= tron_address %> <br>
    Then, paste the transaction hash below <br>
    <input type="text" name="transaction-hash" id="transaction-hash">
    <input type="hidden" name="seller-tron-address" id="seller-tron-address">
    <input type="hidden" name="trx-amount" id="trx-amount">
    <input type="button" value="Check hash" onclick="checkHash()">
  </div>
</div>

<%- include("../partials/foot.ejs") %>