<%- include("../partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_files: [
    "pages/single_seller.css"
  ]
}) %>

<div class="seller-introduction">
  <h3><%= name %> </h3>
</div>

<div class="archive">
  <% for(let i=0; i<uploads.length; i++) {%>
    <article class="article">
      <%= uploads[i].title %> <br>
      <%= uploads[i].description %> <br>
      <%= uploads[i].trx_amount %>
      <button onclick="purchaseProduct(<%= uploads[i].upload_key %>)">Purchase NOW</button>
    </article>
  <% } %>
</div>


<%- include("../partials/foot.ejs") %>