<%- include("../partials/head.ejs", {
  title: "Deno Crypto Payments",
  css_files: [
    "pages/single_seller.css"
  ],
  js_files: [
    "/scripts/single_seller.js"
  ]
}) %>

<div class="seller-introduction">
  <h3><%= name %> </h3>
</div>

<div class="archive">
  <% for(let i=0; i<uploads.length; i++) {%>
    <article class="article" id="<%= uploads[i].upload_key %>">
      <ul>
        <li>
          <h3><%= uploads[i].title %></h3>
        </li> <br>
        <li>
          <%= uploads[i].description %>
        </li> <br>
        <li>
          <%= uploads[i].trx_amount %>
        </li> <br>
        <li>
          <button id="<%= uploads[i].upload_key %>" class="purchaseProduct" onclick="purchaseProduct(this.id)">Purchase NOW</button>
        </li>
      </ul>
    </article>
  <% } %>
</div>


<%- include("../partials/foot.ejs") %>